<p>
  <b>Name:</b>
  <%=h @person.name %>
</p>

<p>
  <b>Some integer:</b>
  <%=h @person.some_integer %>
</p>

<p>
  <b>Some decimal:</b>
  <%=h @person.some_decimal %>
</p>


<%= link_to 'Edit', edit_person_path(@person) %> |
<%= link_to 'Back', people_path %>
