<h1>Editing dog</h1>

<% form_for(@dog) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @dog %> |
<%= link_to 'Back', dogs_path %>
